* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    outline: none;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    background: #141414;
    color: white;
    height: 100%;
    width: 100%;
    padding: 10rem 9% 2rem;
}

.card {
    border: .1rem solid #ccc;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
    width: 300px;
    display: grid;
    text-align: center;
    justify-self: center;
}

.card img {
    max-width: 100%;
    height: 200px;
}
