* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    outline: none;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.products {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 2rem;
    background: #141414;
    color: white;
    min-height: 100vh;
    width: 100%;
    padding: 10rem 15% 2rem;
}

.products__card, .modal__products-card {
    border: .1rem solid grey;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

.products__card-price, .modal__card-price {
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-text, .modal__price-text {
    font-size: .7rem;
    color: grey;
}

.price-num, .modal__price-num {
    font-size: 1rem;
    color: white;
}
.modal__price-num {
    color: #141414;
}

.products__card-img, .modal__products-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.products__card-title, .modal__products-title {
    text-align: start;
    font-size: 1rem;
}

.products__card-description {
    text-align: start;
    font-size: .7rem;
    color: grey;
}

.products__card-category {
    width: 5rem;
    height: 2rem;
    border-radius: 3rem;
    background-color: #141414;
    border: .1rem solid grey;
    cursor: pointer;
    color: white;
    font-size: .7rem;
}

.description--show {
    background-color: #141414;
    color: white;
    width: fit-content;
    cursor: pointer;
    font-size: .7rem;
}

.price--adding, .price--deleting {
    border-radius: .5rem;
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
    color: white;
    background-color: #713af7;
    cursor: pointer;
}

.price--deleting {
    background-color: red;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.basket {
    position: fixed;
    right: 10%;
    top: 5%;
    width: 4rem;
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.basket-img {
    font-size: 3rem;
    color: white;
}

.basket-counter {
    display: flex;
    color: white;
    font-weight: bold;
    align-items: end;
}

.modal {
    max-height: 100%;
    width: 70%;
    background-color: white;
    color: #141414;
    z-index: 4;
    position: fixed;
    display: none;
    top: 50%;
    overflow: auto;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.modal-title {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.modal--close {
    position: absolute;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
}

.modal__products {
    padding: 2rem;
    display: grid;
    text-align: center;
    width: 100%;
    min-height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* .modal__products-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    row-gap: .5rem;
    border: .1rem solid #141414;
    border-radius: 1rem;
    padding: 1rem;
}

.modal__products-title {
    font-size: 1rem;
} */

/* .modal__products-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} */

/* .product--deleting {

} */

.overflow {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.7);
    inset: 0;
    display: none;
}

body.active {
    overflow: hidden;
}
